:root {}

.ContactUsPageContainer {

    overflow-x: hidden !important;
    width: 100vw;
    height: 70vh;
    color: black;
    /* margin-top: 10vh; */
}

.upperContainerContact {
    overflow-x: hidden !important;
    width: 100vw;
    height: 60%;
    text-align: center;
    background: url(../../../assets/img/contactImg1.jpg) rgb(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.upperContainerContact h1 {
    color: white;
    font-size: var(--headingFontSize);
    /* color: var(--fontColor); */
}

.upperContainerContact p {
    color: white;
    font-size: var(--paraFontSize);
    /* color: var(--fontColor); */
    /* color: rgba(226, 226, 226, 0.1); */
}

.heroContactImg {
    width: 100%;
    height: 100%;
    /* margin-left: 5%; */
}

.headingCustomer {
    /* From https://css.glass */
    line-height: 10%;

}

.contactContent p {
    font-size: var(--contactPageFont);
    line-height: 2.3rem;
}

.headingCustomer {
    font-size: var(--headingFontSize);
    /* color: white; */
    height: 20%;
    font-size: var(--headingFontSize);
    padding: 20px;
}

.lowerContainer {
    width: 70%;
    height: 32%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    justify-content: space-evenly;
}



.contactCard {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: white;
    width: 20%;
    height: 100%;
    color: black;
    text-align: center;
    /* border-top: 2px solid black; */
}

.contactCard p {

    color: black;
}

.contactIconContainer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60%;
    justify-content: center;
    border-bottom: 2px solid black;
}

.heightMail {
    height: 50%;

}

.contactCard ion-icon {
    width: 3vw;
    height: 3vw;
}

.contactCard ion-icon {
    width: 3vw;
    height: 3vw;
}

.callContent,
.emailContent {
    margin-top: 10px;
    line-height: 1.5rem;
}

.callContent span {
    color: rgba(0, 196, 222, 1);
    font-weight: 1000;
}

.emailContent span {
    color: rgba(0, 196, 222, 1);
    font-weight: 1000;
}