@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    /*  sizes */
    --headingFontSize: calc(1rem + 1vw);
    --headingFontLargeSize: calc(2rem + 1vw);
    --paraFontSize: calc(0.7rem + 1vw);
    --cardsFontSize: calc(0.3rem + 1vw);
    --paraFontSmall: calc(0.1rem + 1vw);
    --iconSize: calc(1rem + 1vw);
    --btnFont: calc(0.1rem + 0.9vw);
    --contactPageFont: calc(0.4rem + 1vw);
    /* colors */
    --darkBlueBgColor: #00C4DE;
    --lightBlueBgColor: #E5F9FC;
    --fontColor: rgba(0, 0, 0, 0.65);
    --darkBlueBgCss: rgba(0, 196, 222, 1);
    --locationBtnBg: #E5F9FC;
    --commonBlueColor: background-color: rgba(0, 196, 222, 0.1);
}