.PPHeroArea {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/PrivacyPolicy/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}